[Unit]
Description=Daemon for IPv6 Router Advertisements
Documentation=man:ractl(8)
After=syslog.target
After=network.target

[Service]
ExecStart=/usr/bin/rad
ExecStartPost=/bin/sh -c 'if [ -f /etc/ratools/rad.conf ]; then /usr/bin/ractl < /etc/ratools/rad.conf; fi'
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
Sockets=ratools-rad.socket

[Install]
Also=ratools-rad.socket
WantedBy=basic.target
