[Unit]
Description=Daemon for IPv6 Router Advertisements
Documentation=man:ractl(8)
After=syslog.target
After=network.target

[Service]
ExecStart=/usr/bin/rad
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
Sockets=ratools-rad.socket
ExecStart=/bin/sh -c '/usr/bin/ractl < /etc/ratools/rad.conf'

[Install]
Also=ratools-rad.socket
WantedBy=basic.target
